* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #1a202c !important;
  color: rgba(255, 255, 255, 0.92) !important;
}
button{
  color: rgba(255, 255, 255, 0.92) !important;
  background-color: rgba(255, 255, 255, 0.08) !important;
}
a.active {
  position: relative; 
}

a.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%; 
  background: greenyellow;
}
.fc {
  text-align: center;
}
.fc-toolbar-chunk{
  display: flex;

}
@media(max-width:768px){
  .css-755441{
  left: 25%;
}
  .css-12x5f2x{
    width: 100%;
  }
  .css-1eussra{
        flex-direction: column;
  }
}
